.packet {
  font-family: 'open sans';
  border: 1px solid #f3f3f3;
  &__item {
    &--selected {
      &>.packet__itemBox:first-of-type {
        background-color: $c-light !important;
      }
      & .packet__itemContent {
        max-height: 320px !important;
        @include mq(890) {
          max-height: 600px !important;
        }
      }
    }
    &Box {
      background-color: $c-light;
      position: relative;
      &:first-of-type {
        background-color: $c-lightGrey4;
        padding: 25px 25px 25px 70px;
        .packet__itemBox {
          &Label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &Radio {
            position: absolute;
            width: 0;
            height: 0;
            display: none;
            opacity: 0;
            visibility: hidden;
            &Fake {
              position: absolute;
              width: 22px;
              height: 22px;
              top: 50%;
              left: 25px;
              transform: translate(0, -50%);
              background-color: $c-light;
              border-radius: 50%;
              border: 1px solid #efefef;
              &:before {
                @include pseudoAbsolute;
                @include center;
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: #5c7386;
                transition: all 0.4s;
              }
            }
            &:checked {
              &+.packet__itemBoxRadioFake:before {
                width: 50%;
                height: 50%;
              }
            }
          }
        }
      }
    }
    &Header {
      color: $c-grey2;
      font-size: $fs-basic*1.375;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
    }
    &Recommended {
      background-color: $c-lightGreen2;
      border-radius: 5px;
      color: $c-light;
      font-size: 12px;
      font-weight: 700;
      display: inline-block;
      padding: 4px 5px;
      vertical-align: middle;
      text-transform: uppercase;
      line-height: 12px;
      margin: 0 10px;
      text-align: center;
      @include mq(450) {
        display: block;
        margin: 0;
      }
    }
    &Price {
      color: $c-grey;
      font-size: $fs-basic;
      font-weight: 400;
      display: inline-block;
      float: right;
      vertical-align: middle;
      @include mq(600) {
        float: none;
        display: block;
      }
      &>strong {
        font-size: $fs-basic*1.375;
        font-weight: 700;
      }
    }
    &Content {
      padding: 0 60px;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.6s;
      @include mq(550) {
        padding: 0 30px;
      }
      &Intro {
        padding: 5px 0;
        @include mq(750) {
          margin-bottom: 15px;
        }
      }
      &Col {
        font-size: 0;
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin: 15px 0 30px 0;
        @include mq(750) {
          width: 100%;
          margin: 0;
        }
        &>ul>li {
          color: $c-grey;
          font-family: 'clinica';
          font-size: $fs-basic;
          padding-left: 28px;
          position: relative;
          line-height: 32px;
          &:before {
            content: '';
            top: 8px;
            position: absolute;
            left: 0;
            display: block;
            width: 18px;
            height: 13px;
            background-image: url('../../img/svg/check_icon.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
          }
        }
      }
      &Footer {
        border-top: 1px solid $c-lightGrey5;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq(890) {
          flex-direction: column-reverse;
          justify-content: flex-end;
          align-items: flex-end;
          height: auto;
        }
        @include mq(550) {
          align-items: center;
        }
        &More,
        &Wrap {
          display: inline-block;
          position: relative;
          @include mq(890) {
            margin: 15px 0;
          }
        }
        &More {
          padding-right: 35px;
          &:before {
            @include pseudoAbsolute;
            @include centerY;
            width: 25px;
            height: 25px;
            right: 0;
            left: auto;
            background-image: url('../../img/svg/more_icon.svg');
          }
        }
        &Bttn {
          &:hover {
          &+.btnTooltip {
            bottom: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            border-radius: 0;
            z-index: 0;
            box-shadow: none;
            left: 50%;
            &:before {
              content: none;
            }
            &>span {
              visibility: hidden;
              opacity: 0;
              font-size: 0;
            }
          }
        }
      }
    }
  }
}}